<div class="container-fluid">
    <h2 class="heading">Share a Quote!</h2>
    <hr>
    
        <form (ngSubmit)="submitQuote() " #quoteForm="ngForm">
        <div class="form-group">
            <label for="title">Quote Title</label>
            <input type="text" required class="form-control" id="title"  name="title" [(ngModel)]="quotes.title" >
                </div>
           
        
        <div class="form-group">
            <label for="name">Quote</label>
            <textarea class="form-control" id="quote" rows="2" required  name="quote" [(ngModel)]="quotes.quote"></textarea >
            
        </div>
        <div class="form-group ">
            <label for="description ">Quote Author</label>
            <input type="text " required class="form-control " id="description "  name="description " [(ngModel)]="quotes.author">
            
        </div>
        <div class="form-group ">
            <label for="name ">Your Name</label>
            <input type="text " required class="form-control " id="name "  name="poster "  minlength="3" [(ngModel)]="quotes.name">
            
        </div>
        <div class="form-group ">
            <label for="submitDate ">Date</label>
            <input type='date' id="submitDate"   name="submitDate " required [(ngModel)]="quotes.completeDate">
        </div>
        
    <button type="submit " class="btn btn-info ">Submit</button>
    </form>
</div>