.top {
    margin-top: 70px;
    font-size: 43px;
    font-weight:bold;
    color: blue;
}
.form-section {
    border: solid 1px #1b1515;
    border-radius: 10px;
    background-color: rgba(47, 47, 47, 0.544)
  }
  
  button {
    color: #add303;
    font-size:24px;
    margin-top: 30px;
  }
  
  
  
  button#submit {
    background: linear-gradient(to bottom, #111010, #111111, #1b1b1b);
    box-shadow: inset 0 1px 0 #37333d, 0 1px 4px -1px rgb(104, 37, 150);
  }
  
  button:hover {
    background: #df7f11;
  }
  
  label {
    border: none;
    color: #202020;
    font-size: 18px;
  }