<div class="container-fluid">
    <h2 class="heading">Share a Quote!</h2>
    <hr>
    
        <form>
        <div class="form-group">
            <label for="title">Quote Title</label>
            <input type="text" required class="form-control" id="title"  name="title" >
            
                    Title is required.
                </div>
           
        
        <div class="form-group">
            <label for="name">Quote</label>
            <textarea class="form-control" id="quote" rows="2" required  name="name"></textarea>
            
        </div>
        <div class="form-group ">
            <label for="description ">Quote Author</label>
            <input type="text " required class="form-control " id="description "  name="description " >
            
        </div>
        <div class="form-group ">
            <label for="name ">Your Name</label>
            <input type="text " required class="form-control " id="name "  name="poster "  minlength="3 ">
            
        </div>
        
        <button type="submit " class="btn btn-info ">Post Quote</button>
    </form>
</div>