
<div class="container">
    <div class="row">
    <div class="col-sm-6">
        <div>
            <h1>My quotes app</h1>
            <hr>
            <ul>
                <li *ngFor='let quote of quote'>
                      {{quote.quote}}  
                </li>
            </ul>
          </div>   
        </div>
        <div class="forms">
            <app-form ></app-form>
            <app-quote-info class="quoty"></app-quote-info>
            
            
        </div>
        
</div>


</div>
<div *ngFor='let quote of quote;let i = index'>
    <li appStrikethrough>{{quote.name}} due on {{quote.completeDate}}</li> 