
<div class="container">
    <div class="row">
    <div class="col-sm-6">
        <div>
            <h1>My quotes app</h1>
            <hr>
            <ul>
                <li *ngFor='let quote of quote'>
                      {{quote.quote}}  
                </li>
            </ul>
          </div>   
        </div>
        <div class="forms">
            <app-form (addQuote)="addnewQuotes($event)"></app-form>
            
            
            
        </div>
        
</div>


</div>
<div *ngFor='let quote of quotes;let i = index' class="quote col-md-6">
    <div class="quote1">
    <h4>Title:{{quote.title}}</h4>
    <li>Quote:{{quote.quote}} </li>
    <p>Author:{{quote.author}}</p> 
    <p>Posted by:{{quote.name}}</p>
    <p>Posted on:{{quote.completeDate|date}}</p>
  </div>
    <div class="btn mb-3">
        <div>
            <button (click)='countLike() ' class="button"><i class="fas fa-thumbs-up ml-5" > {{quote.upvote}} </i></button>
            <button (click)='countDislike() ' class=" button"><i class="fas fa-thumbs-down" >{{quote.downvote}} </i></button>
        </div>
        <button (click)= 'deleteQuote(true)'class="btn btn-danger">Delete Quote</button>
    
    </div>
    <p>likes:{{quote.upvote}}</p>
    <p>Dislikes:{{quote.downvote}}</p>
</div>